<!DOCTYPE html>
<html>

        <link rel="stylesheet"type="text/css"href="{{STATIC_URL}}style.css">
	
	<head>
	<!--	<h4 style="text-align:right;"><font color="white">
			<p id="demo">         </h4> -->
		<script>
			var myVar=setInterval(function(){myTimer()},1000);

			function myTimer()
			{
			var d=new Date();
			var o=d.toLocaleDateString();
			var t=d.toLocaleTimeString();
			var r="";
			document.getElementById("demo").innerHTML=t;
			}
		</script>	
				<meta charset= "utf-8">
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body onload="startT()">
		<div id="txt" + "       "></div>
</h5></font>


		<div class="content">

<a href="https://www.gfellas.co.za/" title="This is some information for our tooltip."><span title="Don't drink and drive. Take the smart way home.">Good Fellas - To Get You Home.</span></a>
	
	
			{% block content %}
			{% endblock %}
		</div>
	</body>
	<font color="grey"> Created by : Adrian Hughes </font> 
</html>

